<%= stylesheet_link_tag "/assets/social_wall/jquery.socialfeed.css", "/assets/social_wall/animate.css", media: 'all' %>
<%= javascript_include_tag "/assets/social_wall/codebird.js", "/assets/social_wall/doT.js", "/assets/social_wall/moment.js", "/assets/social_wall/jquery.socialfeed.js", "/assets/social_wall/twitter.widgets.js", "/assets/social_wall/masonry.pkgd.min.js", media: 'all' %>

<div class="container">
  <% @assets = Webmanager::BlogAsset.all %>
  <div class="row">
    <% @assets.each do |asset| %>
        <a class="col-lg-4 col-md-6 col-sm-12 gallery-image example-image-link" data-lightbox="example-set"
           data-title="<%= asset.created_at.to_formatted_s(:long) %>" href="<%= asset.asset.url(:original) %>" style="background-image: url('<%= asset.asset.url(:medium) %>');"></a>
    <% end %>
  </div>
</div>
<section id="social-medial-wall" class="feed padding-lg">
  <div class="container">
    <div class="social-feed-container padding-md grid" id="social-feed-container">
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {

    var updateFeed = function() {
      $('.social-feed-container').socialfeed({
        // FACEBOOK
        facebook: {
          accounts: ['@TheRadhamadhavTemple'],
          limit: 12,
          access_token: '1920380778233776|7wDx2sk_0YViLZ25o-EW3XbI3O4',
          show_media: true
        },
        // GENERAL SETTINGS
        length: 1000,
        media_min_width: 50,
        // Moderation function - if returns false, template will have class hidden
        moderation: function(content) {
          return (content.text) ? content.text.indexOf('fuck') == -1 : true;
        },
        //update_period: 5000,
        // When all the posts are collected and displayed - this function is evoked
        callback: function() {
          console.log('all posts are collected');
          $('#social-medial-wall').show(0);
          $('#social-feed-container .grid-item').addClass('animated zoomIn');
          $('#social-feed-container').masonry({
            // options
            itemSelector: '.grid-item'
          });


        }
      });
    };

    updateFeed();


  });
</script>