<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Radha Madhav Mandir', root_path, class:'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item <%= 'active' if params[:action]=='index' %>">
        <%= link_to 'Home', root_path, class:'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if params[:action]=='daily_darshan' %>">
        <%= link_to 'Daily Darshan', daily_darshan_path, class:'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if params[:action]=='events' %>">
        <%= link_to 'Events', events_path, class:'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if params[:action]=='about' %>">
        <%= link_to 'About Mandir', about_mandir_path, class:'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if params[:action]=='contact' %>">
        <%= link_to 'Contact', contact_us_path, class:'nav-link' %>
      </li>
    </ul>
  </div>
</nav>