<!DOCTYPE html>
<html lang="en">
<head>

  <title>Radhamadhav</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= raw google_analytics(123) %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag 'application', 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/navigation' %>
<div class="content">
  <% if notice.present? %>
      <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
      <p class="alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
